<% layout('./layouts/boilerplate.ejs') %>
    <form method="post" action="/home/<%=rest._id%>?_method=PUT">
        <div class="form-group">
            <label for="name">Restaurant Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Restaurant Name" name="rest[name]"value="<%=rest.name%>">
        </div>
        <div class="form-group">
            <label for="location">Restaurant Location</label>
            <input type="text" class="form-control" id="location" placeholder="Enter Location"
                name="rest[location]"value="<%=rest.location%>">
        </div>
        <div class="form-group">
            <label for="price">Restaurant Avg Rate</label>
            <div class="input-group-prepend">
                <div class="input-group-text">$</div>
                <input type="number" class="form-control" id="price" placeholder="Enter Price" name="rest[price]"value="<%=rest.price%>">
            </div>
        </div>
        <div class="form-group">
            <label for="description">Restaurant Description</label>
            <textarea class="form-control" id="description" rows="3" name="rest[description]"><%=rest.description%></textarea>
        </div>
        <div class="form-group">
            <label for="image">Restaurant Image</label>
            <input type="text" class="form-control" id="image" placeholder="Enter Image URL" name="rest[image]"value="<%=rest.image%>">
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>