<% layout('layouts/boilerplate')%>

<div class="row">
    <div class="col-6">
        <div class="card mb-3 mt-3">
            <img src="<%= rest.image%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= rest.name%></h5>
                <p class="card-text"><%= rest.description%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= rest.location%></li>
                <li class="list-group-item">$<%= rest.price%>/night</li>
                <% if(rest.author) {%>
                <li class="list-group-item text-muted">Added by: <%= rest.author.username  %></li>
                    <% } %>
            </ul>
            <% if(currentUser && currentUser._id.equals(rest.author._id)){ %>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/home/<%=rest._id%>/edit">Edit</a>
                <form class="d-inline" action="/home/<%=rest._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>

    </div>
    <div class="col-6 mt-3">
        <% if(currentUser){ %>
        <h2>Leave a Review</h2>
        <form action="/home/<%=rest._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
            <div class="mb-3">
                <fieldset class="starability-basic">
                    <legend> Rate this Restauraunt:</legend>
                    <input name="review[rating]" type="radio" id="first-rate1" value="1" />
                    <label for="first-rate1" >1 star</label>
                    <input name="review[rating]" type="radio" id="first-rate2" value="2" />
                    <label for="first-rate2" >2 stars</label>
                    <input name="review[rating]" type="radio" id="first-rate3" value="3" />
                    <label for="first-rate3" >3 stars</label>
                    <input name="review[rating]" type="radio" id="first-rate4" value="4" />
                    <label for="first-rate4" >4 stars</label>
                    <input name="review[rating]" type="radio" id="first-rate5" value="5" />
                    <label for="first-rate5" >5 stars</label>
                  </fieldset>
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">Review</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <% } %>
        <% for(let review of rest.reviews) { %>
        <div class="card mb-3 ">
            <div class="card-body">
                <p class="starability-result" data-rating="<%=review.rating%>">
                    <p class="card-text">Review: <%= review.body %></p>
                <p class="text-muted">Posted By: <%= review.author.username %></p>
              <%  if(currentUser && currentUser._id.equals(review.author._id)){ %> 
                <form action="/home/<%=rest._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                    
                </form>
            <% } %>
            </div>
        </div>
        <% } %>
    </div>
</div>
